{% extends 'admin/admin_panel.html'%}
{% load static %}

{% block title %}
    <title>All Employee Page</title>
{% endblock %}

{% block content %}
       <div style='margin:20px 10px'>
        <table class='table table-striped table-hover' >
            <thead>
            <tr>
                <th> Sr.No</th>
                <th> Name</th>
                <th> Email</th>
                <th> Department</th>
                <th> Employee ID</th>
                <th> Degination</th>
                <th> Action </th>

            </tr>
            <thead>
                {% for i in data %}
            <tbody>
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.username}}</td>
                <td>{{i.email}}</td>
                <td>{{i.department}}</td>
                <td>{{i.employeeid}}</td>
                <td>{{i.employeedegination}}</td>
                <td> <a href='/delete/{{i.id}}/' type='submit'> Delete </a></td>
            </tr>
            <tbody>
                {% endfor %}
        </table>
       </div>
{% endblock %}

</html>